test/javasource/*
!test/javasource/googlemaps/
!test/javasource/googlemaps/actions/*.java
test/javasource/googlemaps/proxies
test/deployment/
test/.classpath
test/.project
test/Phonenumber-main/deployment/
test/Phonenumber-main/theme/
test/Phonenumber-main/theme_old/
test/Phonenumber-main/widgets/
*.launch
*.tmp
*.lock
*.bak
.idea/
*.mws